* {
    font-family: Open Sans, sans-serif;
}

.profile-container {
    height: 650px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    grid-template-rows: 1fr 20fr;
    grid-template-areas:
        "search search"
        "information calendar"
    ;
}

.profile-search {
    grid-area: search;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-search input {
    height: 100%;
    width: 50%;
}

.search-icon {
    margin-left: 10px;
    font-size: 30px;
}

.profile-information {
    padding: 20px;
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.user-photo-name {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-photo {
    padding: 0;
    height: 250px;
    width: 250px;
    border: 2px solid green;
    margin-bottom: 10px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-photo-icon {
    padding: 0;
    margin: 0;
}

.edit-userPhoto {
    position: absolute;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    border: none;
    outline: none;
    opacity: 0;
}

.edit-userPhoto:hover {
    opacity: 1;
}

.user-name {
    display: flex;
    align-items: center;
}

.edit-userName {
    opacity: 0;
}

.user-name:hover .edit-userName {
    opacity: 1;
}

.user-description {
    display: flex;
    align-items: end;
}

.edit-userDescription {
    opacity: 0;
}

.user-description:hover .edit-userDescription {
    opacity: 1;
}

.user-information,
.user-information tr td {
    border: 1px solid green;
}


.user-information tr td {
    padding: 0 10px;
}

.user-information-edit {
    background: green;
    border: none;
    outline: none;
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    color: aliceblue;
    margin: 0 auto;
    margin-top: 10px;
}

.profile-calendar {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
}

.calendar-elem {
    background: green;
}